block vars
  - var title = 'Tools'

extends layout

block content
  .container.tools(role='main')

    section.center.mt2
      .content-narrower.mb0
        h2 Tools
        p.mb0 Here are some tools you can use to keep known vulnerabilities from creeping into your projects

    .content-narrower
      section
        h3 nsp
        p nsp is the main command line interface to the Node Security Project. It allows for auditing a package.json or npm-shrinkwrap.json file against the API.
        h4 Installation
        pre
          code npm install nsp -global
        h4 Example Usage
        p From inside your project directory
        pre
          code nsp check

